@tailwind base;
@tailwind components;
@tailwind utilities;



/* common page header  */
.common_page_header {
  background: #f1efee;
  min-height: 150px;
}
.common_page_header h2 {
  font-size: 2rem;
  color: #1e1e1e;
  font-weight: bold;
  text-transform: uppercase;
}
.common_page_header p {
  background: #ffffff;
  padding: 4px 30px;
  border-radius: 8px;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: gray;
}
.common_page_header .dot {
  display: inline-block;
  height: 8px;
  width: 8px;
  background: gray;
  margin-bottom: 0;
  border-radius: 50%;
}
.cm_color_login {
  color: #1849a7;
}
/* ========== page header end================== */
.exclusive-item-thumb {
  height: 350px;
  position: relative;
}
.exclusive-item-thumb img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
}
.exclusive-item-thumb img:last-child {
  opacity: 0;
}

.exclusive-item-thumb img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
}
.exclusive-item-three .action {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 2px;
  left: 0;
  bottom: 20px;
  padding: 15px 20px;
  background: #fff;
  width: 100%;
  box-shadow: 0px 4px 21px 0px rgba(117, 114, 114, 0.19) !important;
  margin-bottom: 0;
  opacity: 0;
}
.exclusive-item-three .action li {
  list-style: none;
}
.exclusive-item-three .action li a {
  display: block;
  width: 56px;
  height: 42px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 7px 0px rgba(117, 114, 114, 0.18);
  line-height: 42px;
  font-size: 20px;
  color: #2b2b2b;
}

.exclusive-item-thumb:hover > a img:last-child {
  opacity: 1;
  transition: 0.4s;
}
.exclusive-item:hover > .exclusive-item-thumb .action {
  opacity: 1;
  transition: 0.4s linear;
  bottom: 0;
}
.exclusive-item .exclusive-item-content h5 a {
  color: #252525;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}
.exclusive-item .exclusive-item-content .exclusive--item--price {
  font-size: 15px;
  font-weight: bold;
}
.cm_color {
  color: #ee611c;
}

/* categories card */
.shop-widget {
  background: #fff;
  box-shadow: 0px 1px 16px 0px rgba(117, 114, 114, 0.07);
  padding: 45px 30px;
}
.shop-widget-title .title {
  text-transform: uppercase;
  font-size: 14.5px;
  margin-bottom: 0;
  color: #252525;
  margin-top: 0px;
  font-style: normal;
  font-weight: 700;
}
.shop-cat-list ul li {
  display: block;
  margin-bottom: 15px;
  overflow: hidden;
}
.shop-cat-list ul li a {
  float: left;
  position: relative;
  padding-left: 20px;
  font-size: 14px;
  color: #696868;
  line-height: 26px;
  text-decoration: none;
}
.shop-cat-list ul li span {
  float: right;
  width: 32px;
  height: 26px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  background: #f2f1ef;
  text-align: center;
  line-height: 26px;
}
.shop-cat-list ul li.active a {
  color: #ee611c ;
  font-weight: bold;
}
.shop-cat-list ul li.active span {
  background: #ee611c;
  color: white;
}
.shop-cat-list ul li a::before {
  content: "\f1ce";
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 12px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

/* new product */
.new_product_card li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.sidebar-product-thumb {
  margin-right: 18px;
}
.new_product_card .rating {
  margin-bottom: 8px;
  line-height: 1;
}
.new_product_card h5 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #252525;
  margin-top: 0px;
  font-style: normal;
}
.new_product_card h5 span {
  text-decoration: none;
  color: #252525;
}
.new_product_card span {
  display: block;
  color: #ee611c;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}


/* filter option */
.shop-size-list ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 5px;
}
.shop-size-list ul li a {
  display: block;
  width: 36px;
  height: 34px;
  line-height: 30px;
  text-align: center;
  border: 3px solid #ebebeb;
  font-size: 14px;
  color: #696868;
  text-decoration: none;
}
.shop-size-list ul li.active {
  border: 2px solid #ee611c;
}



/* widget offer */
.special-offer-banner a, .deal-of-day-banner a {
  display: block;
  overflow: hidden;
  position: relative;
}
.special-offer-banner a::before, .deal-of-day-banner a::before {
  position: absolute;
  top: 0;
  left: -80%;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 42556, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.special-offer-banner:hover a::before, .deal-of-day-banner:hover a::before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}
.special-offer-banner a::before, .deal-of-day-banner a::before {
  position: absolute;
  top: 0;
  /* left: 0%; */
  left: -80%;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 42556, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

